<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css"/>
</head>

<body>
     <div class="main-content">
        {{>header}}
    <h1>About file</h1>
    <h2>{{name}} {{lname}}</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A ratione nemo quia rem delectus fuga veniam porro sed dicta, repellendus voluptatum praesentium fugit esse explicabo minus laudantium accusamus fugiat non?</p>
     </div>
    {{>footer}}
</body>

</html>